.expand-nav {
  height: auto;
  background-color: rgb(248, 249, 250);
}
.expand-nav .search2 {
  background-color: #dddddd;
  width: 60%;
  height: 70px;
  /* padding-top: 16px; */
  /* margin-top: 1rem; */
  border-radius: 500px;
  box-shadow: 2px 1px 6px 1px #8080809e;
}

.expand-nav .tabs2 .btn-group label {
  color: #222 !important;
  font-weight: 400;
  font-size: 1.1rem;
}
.expand-nav .tabs2 .btn-group label:hover {
  border-bottom: 2px solid black;
  border-radius: 0;
}
.expand-nav .tabs2 .btn-group .btn,
.expand-nav .btn-group .btn-check:checked {
  background-color: transparent !important;
  border: 0;
}

.expand-nav .tabs2 .btn-group .buttonsearch button {
  background-color: #ff385c !important;
  border-radius: 100%;
  width: 30px;
  height: 30px;
}
.expand-nav .tabs2 .btn-group .buttonsearch button svg {
  margin: -11px 0px -2px -3px;
  font-size: 13px;
}
.expand-nav .sidebuttons .btn-group .btn {
  background-color: transparent !important;
  color: rgb(27, 26, 26);
  border: 0;
}
.expand-nav .sidebuttons .btn-group .btn.globe {
  color: rgb(68, 67, 67);
}
.expand-nav .sidebuttons .btn-group .user-btn {
  border-radius: 50px;
  border: 1px solid rgba(94, 93, 93, 0.418);
}
.expand-nav .sidebuttons .btn-group .toggleBtn {
  color: rgb(68, 67, 67);
  font-size: 1.2rem;
}
.expand-nav .sidebuttons .btn-group .userBtn {
  color: rgb(153, 148, 148);
  font-size: 1.8rem;
  margin-left: 1rem;
}
.expand-nav .desti label {
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 0px;
}
.expand-nav .desti input[type="text"] {
  border: 0;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}
.expand-nav .desti input[type="text"]:focus {
  outline: none;
  box-shadow: none;
}
.expand-nav .desti input[type="text"]::placeholder {
  background-color: transparent;
  font-size: 14px !important;
  padding-left: 0;
  margin-left: 0;
}
.expand-nav .desti .value-style {
  background-color: transparent;
  font-size: 16px !important;
  color: #222;
  text-align: center;
  font-weight: 600;
}
/* .expand-nav .desti .text2 p{
  background-color: transparent;
  font-size: 14px !important;
  padding-left: 0;
  margin-left: 0;
  color: #686767;
} */
.expand-nav .place-center input[type="text"]::placeholder {
  text-align: center;
}

.expand-nav .search2 .border-right {
  border-right: 1px solid #a7a3a391;
  height: 20px;
  padding-top: 2rem;
}
.expand-nav .where {
  width: 40%;
}
.expand-nav .input1 {
  border-radius: 35px;
  padding-top: 17px;
  cursor: pointer;
}
/* .expand-nav .input1.btn{
 
  border-radius: 35px;
  padding-top: 10px;
  cursor: pointer;
  border: 0;
} */
/* .expand-nav .input1.btn:active{
  background-color: #fff;
  box-shadow: 2px 1px 6px 1px #8080809e;

} */
.expand-nav .who {
  border-radius: 35px;
  padding-top: 7px;
  cursor: pointer;
}
.expand-nav .input1:active {
  background-color: #fff;
  box-shadow: 2px 1px 6px 1px #8080809e;
  border: 0;
  border-radius: 2;
  height: 72px;
}
.expand-nav .searchBtn.btn {
  height: 50px;
  width: 115px;
  padding: 0;
  border-radius: 32px;
  background: radial-gradient(
    circle at right,
    #ff385d,
    rgb(215, 4, 102),
    #b90324
  );
  color: #fff;
}
.expand-nav .searchBtn2.btn {
  width: 50px;
  height: 50px;
  padding: 0;
  border-radius: 50%;
  background: #ff385d;
  color: #fff;
}
.expand-nav .searchBtn.btn svg {
  font-weight: 10;
}
.modal-backdrop.show {
  top: 230px !important;
  background-color: rgb(0 0 0 / 25%) !important;
}
.modal-dialog {
  left: -15%;
  top: 200px;
}

.modal-content {
  border-radius: 40px !important;
  /* height: 400px; */
  max-height: calc(100vh - 150px);
}

.modal-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
}
.modal-header {
  border-bottom: 0;
}
.mapImage {
  width: 100%;
  height: 158px;
}
.mapImage button,
.mapImage .btn {
  background-color: transparent;
  border: 0;
  color: #000 !important;
}
.mapImage button:hover,
.mapImage .btn:hover {
  background-color: transparent;
  border: 0;
  color: #000 !important;
}
.mapImage button:active,
.mapImage .btn:active {
  background-color: transparent !important;
  border: 0 !important;
  color: #000 !important;
}
.mapImage button img:active,
.mapImage .btn img:active {
  background-color: transparent !important;
  border: 2px solid #000 !important;
  color: #000 !important;
}
.mapImage button,
.mapImage .btn {
  outline: none !important;
  box-shadow: none !important;
}
.mapImage button img,
.mapImage .btn img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
  border: 1px solid #dddddd;
}
.mapImage button img:hover,
.mapImage .btn img:hover {
  border: 1px solid black;
}
.modal3 .modal-content {
  left: 435px !important;
  width: 450px !important;
}
#modal3-content .h-1 {
  font-size: 1.2rem;
  font-weight: 500;
}
#modal3-content .p1 {
  font-size: 0.8rem;
  color: #505050;
}
.counter .btn {
  background-color: transparent !important;
  border: 0 !important;
  color: #505050;
  --bs-btn-padding-x: 0rem;
  --bs-btn-padding-y: 0rem;
}
.counter .btn {
  outline: none;
  box-shadow: none;
}
.counter .btn svg {
  width: 40px;
  height: 40px;
  outline: none;
  box-shadow: none;
}
.pets .btn-link{
  color:#505050;
  text-align: left;
padding: 0;
font-size: inherit;
}
.pets .btn-link:focus{
  outline: none;
  box-shadow: none;
}
#modal3-content{
  width: 1001px;
}

.toggle-buttons1 {
  left: 68%;
  right: 50%;
  top: 18px;
  z-index: 1;
  width:60%;
  height: 10%;
  background-color:#dddddd;
  border-radius: 30px;

}
.toggle-buttons1 .btn-group{
  border-radius: 30px;
  margin: 0 auto;
  padding: 4px 35px;
  border-top-right-radius: 10!important;
  border-bottom-right-radius: 10!important;
}
.toggle-buttons1 .btn-group > .btn:not(:last-child):not(.dropdown-toggle){
  border-top-right-radius: 32px!important; 
   border-bottom-right-radius: 32px!important;
}
.toggle-buttons1 .btn,  .toggle-buttons1 .btn-link{
  background-color: transparent;
  border: 0;
}
.toggle-buttons1 .btn-link{
  text-decoration: none;
  color: #222;
}
.toggle-buttons1 .btn-link:focus{
  outline: none;
  box-shadow: none;
}
.toggle-buttons1 .btn:active{
  background-color: #fff;
  border: 0;
  border-radius: 30px;
  border-top-right-radius: 10!important;
  border-bottom-right-radius: 10!important;
}
.toggle-buttons1 .btn-link:active {
  color: #222;
}

.toggle-buttons1 .btn:active:hover , .toggle-buttons1 .btn-link:hover{
  background-color: #fff;
  border: transparent;
  border-radius: 30px;
  border-top-right-radius: 10!important;
  border-bottom-right-radius: 10!important;
}
#flexible{
  background-color: white;
  border-radius: 30px;
  height: 500px;
}
.flexi-content {
  transform: translate(0, 50%);
}
.flexi-btn .btn-check+ .btn {
  text-decoration: none;
  background-color: transparent;
  color: #222;
  padding: 7px;
  border: 1px solid rgb(194, 193, 193);
  border-radius: 32px;
  width: 100px;
  height: 40px;
}

.flexi-btn .btn-check+ .btn:hover {
  border: 1px solid #505050;
}
.flexi-btn .btn-check+ .btn:active {
  border: 2px solid #222;
  background-color: rgba(153, 148, 148, 0.171);
}
/* #505050 */
.flexi-btn .btn-group > .btn:not(:last-child):not(.dropdown-toggle){
  border-top-right-radius: 32px!important; 
   border-bottom-right-radius: 32px!important;
   margin-right: 1rem;
}
.flexi-btn .btn-check+ .btn:focus {
outline: none;
box-shadow: none;
}
.modal-5 #modal3-content{
  width: 885px!important;
}
@media (max-width: 820px) {
  .expand-nav .search1 {
    width: 100%;
  }
  .expand-nav .tabs2 .sidebuttons {
    margin: 20px 30px;
  }
}
@media (max-width: 768px) {
  .expand-nav .search1 {
    width: 100%;
  }
  .expand-nav .tabs2 .sidebuttons {
    margin: 20px 30px;
  }
}

@media (max-width: 414px) {
  .expand-nav .search1 {
    width: 100%;
  }
  .expand-nav .tabs2 .sidebuttons {
    margin: 20px 30px;
  }
}
