#app { height: 100% }
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}
.swiper-wrapper{
  margin: 0 25px!important;
}
.swiper-slide:active{
  padding: 0;
  border: 2px solid #222;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  width: 130.2px!important;
  margin-right: 10px!important;
  border-radius: 10px!important;
  padding: 0;
  border: 1px solid rgb(194, 193, 193);

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cal-icon{
  width: 35px;
  height:35px;
  margin: 0px auto;

}
.cal-icon img{
  width: 100%;
  height:100%;
  object-fit: cover;
  object-position: center;
}
.slide-content{
  margin-top: 1.7rem;
}
.month{
  padding-top: 8px !important;
  font-weight: 600 !important;
  font-size: 14px !important;
  line-height: 18px !important;
  padding-bottom: 0;
    margin-bottom: 0;
}
.dates{
  font-size: 12px !important;
  line-height: 16px !important;
  font-weight: 400 !important;
  padding-top: 2px !important;
}
.swiper-button-prev, .swiper-button-next{
color: grey!important;
background-color: #fff!important;
border: 1px solid grey!important;
border-radius: 50px;
width: 30px!important;
height: 30px!important;
top: 55%;

}
.swiper-button-next:after, .swiper-button-prev:after{
  font-size:unset!important;
}